body {
  overflow: hidden;
}

.grid {
  margin: 1px auto auto auto;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#title {
  font-style: 'OCR A Std', monospace;
  padding-top: 5px;
  margin-right: 30px;
  font-size: 24px;
}

.grid-row {
  float: left;
  display: inline-flex;
}

.Navbar-button {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  width: 120px;
}

.Navbar-button:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

#basic-nav-dropdown {
  margin: 0;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding-right: 20px;
  transition-duration: 0s;
}

#basic-nav-dropdown:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
  margin: -2px;
}
